button {
    size: 50px;
    width: 250px;
    height: 200px;
    border-radius: 20%;
}

button:hover {
    box-shadow: 5px 5px 5px black;
    background: linear-gradient(420deg, black, white);
    color: gold;
    border-radius: 20%;
    font-weight:bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}