* {
    font-family: Georgia;
    color: white;
}

header, footer {
    background-color: maroon;
    text-align: center;
    padding: 2px;
}

#prawy, #srodkowy, #lewy {
    background-color: lightsalmon;
    height: 527px;
    float: left;
}

#prawy, #lewy {
    width: 15%;
}

#srodkowy {
    width: 70%;
    float: left;
}

#miniatury {
    background-color: maroon;
    height: 70px;
}

input {
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

#miniatury img {
    height: 70px;
    animation-name: mymove;
    animation-duration: 4s;
}

@keyframes mymove {
    from { margin-left: 50px;}
    to { margin-left: 0px;}
}

@keyframes anim2 {
    from { scale: 100%;}
    to { scale: 120%;}
}

#srodkowy img {
    display: block;
    margin: auto;
    padding-top: 45px;
    scale: 120%;
}

#srodkowy img:hover {
    animation-name: anim2;
    animation-duration: 5s;
}